<h1 class="mt-4 text-center">Clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Lista de Clientes</li>
</ol>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-warning" (click)="newClient()">
                <i class="fa fa-plus"></i> Cadastrar Cliente</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome Cliente</th>
                        <th>CPF</th>
                        <th>Data de Cadastro</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let client of clients">
                        <td>{{ client.id}}</td>
                        <td>{{ client.name}}</td>
                        <td>{{ client.cpf}}</td>
                        <td>{{ client.register}}</td>
                        <td>
                            <button class="btn btn-warning"  [routerLink]="['/clients-form' , client.id]"><i class="fas fa-edit"></i> Editar</button>
                            <button class="btn btn-danger"><i class="fas fa-trash-alt"></i> Deletar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>