<h1 class="mt-4 text-center">Clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Lista de Clientes</li>
</ol>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div *ngIf="messageSuccess" class="alert alert-success" role="alert">
                {{ messageSuccess }}
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="messageError">
                {{messageError}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-warning" (click)="newClient()">
                <i class="fa fa-plus"></i> Cadastrar Cliente</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome Cliente</th>
                        <th>CPF</th>
                        <th>Data de Cadastro</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let client of clients">
                        <td>{{ client.id}}</td>
                        <td>{{ client.name}}</td>
                        <td>{{ client.cpf}}</td>
                        <td>{{ client.register}}</td>
                        <td>
                            <button class="btn btn-warning" [routerLink]="['/clients-form' , client.id]"><i
                                    class="fas fa-edit"></i> Editar</button>
                            <button class="btn btn-danger ml-1" (click)="initialDelete(client)" data-toggle="modal"
                                data-target="#modalDelete">
                                <i class="fas fa-trash-alt"></i> Deletar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="modalDelete" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmar Deleção</h4>
                </div>
                <div class="modal-body" *ngIf="client">
                    Realmente Deseja Deletar o Cliente : <strong> {{ client.name}} </strong> ??.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" (click)="deleteClient()" data-dismiss="modal"><i
                            class="fa-trash-alt"></i> Confirmar Deleção</button>
                    <button class="btn btn-success ml-1" data-dismiss="modal"><i class="fa fa-sync-alt"></i> Cancelar
                        Deleção</button>
                </div>
            </div>
        </div>
    </div>
</div>