<div>
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header">
                                    <h3 class="text-center font-weight-light my-4">
                                        {{ insert ? "Cadastro de Usuário" : "Entrar"}}
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <div class="alert alert-danger" *ngFor="let error of errors">
                                        {{ error }}
                                    </div>
                                    <div class="alert alert-success" *ngIf="messageSuccess">
                                        {{ messageSuccess }}
                                    </div>
                                    <form #loginForm="ngForm" (submit)="onSubmit()">
                                        <div class="form-group">
                                            <label class="small mb-1">Usuário</label>
                                            <input type="text" name="username" [(ngModel)]="username" autocomplete="off"
                                                placeholder="Digite seu usuário" class="form-control py-4" />
                                        </div>
                                        <div class="form-group">
                                            <label class="small mb-1">Senha</label>
                                            <input type="password" name="password" [(ngModel)]="password"
                                                placeholder="Digite sua senha" class="form-control py-4" />
                                        </div>
                                        <div class="form-group align-items-center justify-content-between mt-4 mb-0">
                                            <button *ngIf="!insert" type="submit" class="btn btn-primary">Entrar</button>
                                            <button (click)="save()" *ngIf="insert" type="button"
                                                class="btn btn-success">Cadastrar</button>
                                            <button (click)="cancelInsert()" *ngIf="insert" type="button"
                                                class="btn btn-danger ml-2">Cancelar</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center">
                                    <div class="small">
                                        <a href="#" (click)="insertUser($event)">Não possui usuário. Cadastre-se!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>