<h1 class="mt-4 text-center">Clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cadastro de Clientes</li>
</ol>
<div class="container">
    <form #clientForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div *ngIf="success" class="alert alert-success" role="alert">
                    Cliente salvo/atualizado com sucesso!.
                  </div>
                  <div class="alert alert-danger" role="alert" *ngFor="let error of errors">
                    {{error}}
                  </div>
            </div>
        </div>
        <div class="row" *ngIf="client.id">
            <div class="col-md-6">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" class="form-control" name="id" [ngModel]="client.id" disabled="true" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Data Cadastro:</label>
                    <input type="text" class="form-control" name="register" [ngModel]="client.register"
                        disabled="true" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome Cliente:</label>
                    <input type="text" class="form-control" [(ngModel)]="client.name" name="name"
                        autocomplete="false" /> <!-- Two-way data-binding FormsModule -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>CPF:</label>
                    <input type="text" class="form-control" [(ngModel)]="client.cpf" name="cpf" autocomplete="false" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-save"></i> Salvar
                </button>
            </div>
        </div>
    </form>
</div>