<h1 class="mt-4 text-center">Consulta de Serviço</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Consultar Serviços</li>
</ol>
<div class="containter">
    <form #fomr="ngForm" (submit)="onSubmit()">
        <div class="row">
            <div class="col-md-6">
                <label>Nome Do Cliente</label>
                <input type="text" name="name" [(ngModel)]="name" class="form-control" />
            </div>
            <div class="col-md-6">
                <label for="inputMonth">Mês</label>
                <select [(ngModel)]="month" class="form-control" name="month">
                    <option value="">Selecione...</option>
                    <option *ngFor="let month of months" [value]="month">
                        {{ month  }}
                    </option>
                </select>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-search"></i> Consultar Serviço
                </button>
            </div>
        </div>
    </form>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-warning text-center" role="alert" *ngIf="message">
                {{message}}
            </div>
        </div>
        <div class="col-md-12">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Cadastro</th>
                        <th>Preço</th>
                        <th>Descrição</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let service of list">
                        <td> {{ service.client.name}}</td>
                        <td> {{ service.register}}</td>
                        <td> {{ service.price | currency: 'BRL': true }}</td>
                        <td> {{ service.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>